<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <fieldset>
        <legend>Quick Survey</legend>
        <form action="/process" method="post">
          <div class="entry">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
          </div>
          <div class="entry">
            <label for="location">Dojo Location:</label>
            <select name="location">
              <option value="Seattle">Seattle</option>
              <option value="Mountain View">Mountain View</option>
              <option value="Dallas">Dallas</option>
              <option value="Chicago">Chicago</option>
            </select>
          </div>
          <div class="entry">
            <label for="language">Favorite Language:</label>
            <select name="language">
              <option value="Python">Python</option>
              <option value="JavaScript">JavaScript</option>
              <option value="Node">Node</option>
            </select>
          </div>
          <div class="entry">
            <label for="comments">Comments</label>
            <br>
            <textarea name="comments"></textarea>
          </div>
          <button>Submit</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
