<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey From</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <fieldset>
        <legend>Submitted Survey</legend>
        <div class="entry">
          <label>Name:</label>
          <span><%= data.name %></span>
        </div>
        <div class="entry">
          <label>Dojo Location:</label>
          <span><%= data.location %></span>
        </div>
        <div class="entry">
          <label>Favorite Language:</label>
          <span><%= data.language %></span>
        </div>
        <div class="entry">
          <label>Comments:</label>
          <span><%= data.comments %></span>
        </div>
        <a href="/"><button>Back</button></a>
      </fieldset>
    </div>
  </body>
</html>
